@font-face {
  src: url('../fonts/static/PlayfairDisplay-Bold.ttf');
  font-family: 'PlayfairDisplay-Bold';
}
@font-face {
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf');
  font-family: 'YanoneKaffeesatz-Light';
}
@font-face {
  src: url('../fonts/BreeSerif-Regular.ttf');
  font-family: 'BreeSerif-Regular';
}

body {
    margin: 0;
    font-family: 'YanoneKaffeesatz-Light',   
    Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(245, 245, 237);
  }
  .link {
    color: slateblue;
  }
  .link:hover {
    color: chartreuse;
  }
  .header {
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
  }
  .header-link {
    margin: 0 10px;
  }
  .main {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
  }
  .aside {
    width: 300px;
    flex: 0;
  }
  .main-section {
    flex-grow: 1;
    padding-left: 320px;
  }
  .img {
    border: 3px solid gray;
  }
  .title {
    color: rgb(23, 3, 61);
    text-align: center;
    font-family: 'BreeSerif-Regular',
    Arial, Helvetica, sans-serif;
  }
  .subtitle {
    border-left: 5px solid rgb(255, 30, 30);
    padding-left: 10px;
    color: rgb(28, 24, 255);
    margin-top: 30px;
    font-family: 'PlayfairDisplay-Bold',
    Arial, Helvetica, sans-serif;
  }
  .content {
    padding-left: 78px;
  }
  .footer {
    border-top: 1px solid gray;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'BreeSerif-Regular',
    Arial, Helvetica, sans-serif;
  }
  
  